body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    text-align: center;
}

table {
    margin: auto;
    border-collapse: collapse;
}

th {
    background-color: #4CAF50;
    color: white;
}

td, th {
    padding: 8px 15px;
}
